<app-svg-loader *ngIf="loading"></app-svg-loader>
<ng-container *ngFor="let node of nodes">
  <app-row-grid [node]="node"
                (openOrCloseChild)="openOrCloseChildren($event)"
                (changePropIsOpened)="changePropIsOpened($event)">
  </app-row-grid>
  <app-node-tree [nodes]="node?.child"
                 *ngIf="node?.isOpened"
                 (openOrCloseChild)="openOrCloseChildren($event)"
                 (changePropertyIsOpened)="changePropIsOpened($event)">
  </app-node-tree>
</ng-container>
